@import "mocha.css";
@import "rose-pine.css";

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 16px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @red;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#tray,
#clock,
#cpu,
#network,
#pulseaudio,
#custom-mem,
#custom-eww,
#custom-pkg_updates {
  background-color: @base;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  background-color: @blue;
  margin-top: 5px;
  color: @base;
}


#cpu {
  color: @green;
}

#cpu,
#network {
  border-radius: 0;
}
#custom-mem {
    background: @base;
    color: @blue;
}
#custom-mem .icon {
    color: @base;
    background: @blue;
}

#custom-pkg_updates {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#network {
  color: @lavender;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  color: @red;
  min-width: 30px;
}
#custom-eww {
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 5px;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
